<div class="section-header text-center">
  <h1 class="article__title">{{ article.title }}</h1>
  {% if section.settings.blog_show_author %}
    <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
  {% endif %}

  {% if section.settings.blog_show_date %}
    <span class="article__date">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </span>
  {% endif %}
</div>

<div class="rte" itemprop="articleBody">
  {{ article.content }}
</div>

{% if section.settings.show_share_buttons %}
  {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
{% endif %}

{% if article.url contains 'events' %}

	<br/><br/>
    <h3>Other EVENTS</h3>
	<br/><br/>

	{% for article in blogs.events.articles %}
		{% if article.metafields["global"]["Is-Past-Event"] != "true" %}
    		<div class="article">
              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3> 
              
              in {{ article.metafields["global"]["Location"] }} on {{ article.metafields["global"]["Date"] }}
      			
              <div class="article-body textile">
        			{{ article.content }}
      			</div>
        </div>           
   	    {% endif %}
	{% endfor %}

	<h3><a href="/blogs/events">Show MORE<a/></h3>
	<br/><br/>
      
{% elsif article.url contains 'master-classes' %}

	<br/><br/>
    <h3>Other Masterclasses</h3>
	<br/><br/>

	{% for article in blogs.master-classes.articles %}
		{% if article.metafields["global"]["Is-Past-Event"] != "true" %}
    		<div class="article">
              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3> 
              
              in {{ article.metafields["global"]["Location"] }} on {{ article.metafields["global"]["Date"] }}
      			
              <div class="article-body textile">
        			{{ article.content }}
      			</div>
        </div>           
   	    {% endif %}
	{% endfor %}

	<h3><a href="/blogs/master-classes">MAP OF masterclasses<a/></h3>
	<br/><br/>      
      
      
{% endif %}

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
